:root {
	--blue: #0078d7;
	--primary: var(--blue);
	--body-weight: 400;
	--body-color: #333;
	--body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--header-height: 60px;
}

body {
	// font-family: var(--body-font);
}

.navbar {
	padding: 1em 0;
}

.navbar-brand {
	font-weight: 600;
	margin-right: 0;
}

.navbar-div {
	font-weight: 400;
	display: inline-block;
	margin: 0 0.75em;
	color: #fff;
}

.navbar-title {
	font-weight: 400;
	&:link,
	&:visited {
		color: rgba(255, 255, 255, 0.9);
	}

	&:hover,
	&:active {
		text-decoration: none;
	}
}

.navbar {
	.btn-outline-light {
		&:link, &:visited {
			color: #fff;
		}
	}
}
