<form action="/users/login" method="post">
	<formgroup>
		<label>Username</label>
		<input type="text" name="username">
	</formgroup>
	<formgroup>
		<label>Password</label>
		<input type="password" name="password">
	</formgroup>
	<formgroup>
		<input type="submit" value="Submit">
	</formgroup>
</form>