{{#if user}}
	<h2>Hello, {{ user.displayName }}.</h2>
	<a href="/profile">Profile</a></br>
	<a href="/logout">Log Out</a>
{{ else }}
<section class="jumbotron pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3>Please Login</h3>
				<p class="lead">This is a demo fo how to use OpenID Connect with Azure AD. To login, you will be redirected to Azure Active Directory.</p>
				<a class="btn btn-lg btn-secondary" href="/login">Login &rarr;</a>
			</div>
			<div class="col">

			</div>
		</div>
	</div>
</section>


{{/if}}