<section class="jumbotron pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col">

				{{#if user}}
					<h3>Welcome {{ user.displayName }}</h3>
					<ul class="mt-4">

						<li><a href="/profile">Profile page</a></li>
						<li><a href="/logout">Log out</a></li>
					</ul>
				{{ else }}
					<h3>Demo Login</h3>
					<p class="lead">This is a demo fo how to use OpenID Connect with Azure AD. To login, you will be redirected to Azure Active Directory.</p>
					<a class="btn btn-lg btn-secondary" href="/login">Login &rarr;</a>
				{{/if}}

			</div>
			<div class="col">
			</div>
		</div>
	</div>
</section>