<div class="container mt-5">
	<div class="row">
		<div class="col">
			{{#if user}}
				<h3>Profile - {{ user.displayName }}</h3>
				<p class="mt-3">These are the values return in the <code>claims</code> section of the JSON Web Token (JWT)</p>
				<table class="table mt-4" style="max-width: 600px;">
					<thead>
						<th>Key</th>
						<th>Value</th>
					</thead>
					<tbody>
						{{#each json}}
							<tr>
								<td>{{@key}}</td>
								<td><div class="wrap-value">{{this}}</div></td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			{{else}}
				<h2>Access denied - please log in.</h2>
				<p><a class="btn btn-primary" href="/login">Log In</a></p>
			{{/if}}
		</div>
	</div>
</div>

